
<div>
  <div style="text-align:center" class="col-sm-4 title-position">
  <h1>
      Kalkulator walutowy
  </h1>
  <h2>Sprawdź kurs i przelicz walutę.</h2>
</div>
  <div class="row content subpage">    
    <div class="col-sm-4">
            <div class="col-sm-4col-md-6 col-lg-4">
                    <h3 Style="color:red">Praca Zaliczeniowa</h3>
                    <p Style="color:gray">Małgorzata Dawidowicz</p>            
                    <p Style="color:gray">Katowice 2018-06-14</p>
        
                    <p Style="color:gray">__________________________________</p>
                    <div>
                        <span Style="color:gray">Tel.  &nbsp;</span>
                        <span Style="color:gray" Style="margin-left:5%">+48 663 028 909</span>
                        <p>Email: <a href="mailto:malgorzata.dawidowiczws@gmail.com">malgorzata.dawidowiczws@gmail.com</a></p>
                    </div>
            </div>

    </div>
    <div class="col-sm-4"><currency-list></currency-list></div>
    <div class="col-sm-3">
        <strong><app-currency-rate></app-currency-rate></strong> 
    </div>
</div>
</div>



