<div class="container">
  <div class="row content subpage">

    <h3>rates=: {{ (currencyFrom.rates|json) }}</h3>
    <h3>rates=: {{ (currencyFrom.rates.PLN) }}</h3>
    <div class="col-md-9 col-xs-12 col-sm-9">
      <section>
        <h1> Kalkulator walutowy</h1>
        <h2>Sprawdź kurs i przelicz walutę.</h2>
      </section>
    </div>

    <input class="form-control" [(ngModel)]="euroCurse" disabled>

    <div class="col-md-4 col-xs-12 col-sm-9 separator">
      <label class="col-sm-9 control-label">Przelicz z waluty</label>
      <div class="form-group col-sm-10" Style="padding-left:30px">
        <select class="form-control" [(ngModel)]="currencySymbolFrom" (change)="getCurrencyFrom()">
          <option value="" disabled selected>-- WYBIERZ WALUTĘ --</option>
          <option value="PLN">PLN</option>
          <option value="EUR">EUR</option>
          <option value="USD">USD</option>
          <option value="GBP">GBP</option>
        </select>
        <span>{{ 1 / currencyFrom?.rates[currencySymbolFrom] }} EURO</span>
        <div class="separator">Kwota do przeliczenia 
          <input class="form-control" type="number" [(ngModel)]="amountToConvert" (input)="changedAmount()">
        </div>
      </div>

      <label class="col-sm-9 control-label separator">Przelicz na walutę</label>
      <div class="form-group col-sm-10" Style="padding-left:30px">
        <select class="form-control" [(ngModel)] = "currencySymbolTo" (change)="getCurrencyTo()">
          <option value="" disabled selected>-- WYBIERZ WALUTĘ --</option>
          <option value="PLN">PLN</option>
          <option value="EUR">EUR</option>
          <option value="USD">USD</option>
          <option value="GBP">GBP</option>
        </select>
        <div class="separator">Kwota po przeliczeniu 
          <input class="form-control" [(ngModel)]="amountCalculated" disabled>
        </div>
      </div>
    </div>

  </div>
</div>