

 <div  *ngIf="error"  class="alert alert-danger col-sm-9col-md-8 col-lg-10">
    <strong>Ups bład serwera!</strong> "Spróbuj ponownie za jakiś czas"
</div>

<div class="container" style="text-align:center">
  <div class="row content subpage">


      <label class="col-sm-9col-md-8 col-lg-10 control-label" >Przelicz z waluty</label>
      <div class="form-group col-sm-10" Style="padding-left:30px">
        <select class="form-control" [(ngModel)]="currencySymbolFrom" (change)="getCurrencyFrom()">
          <option value="" disabled selected>-- WYBIERZ WALUTĘ --</option>
          <option value="PLN">PLN</option>
          <option value="EUR">EUR</option>
          <option value="USD">USD</option>
          <option value="GBP">GBP</option>
        </select>
        <span>{{ 1 / currencyFrom?.rates[currencySymbolFrom] }} EURO</span>
        <div class="separator">Kwota do przeliczenia 
          <input class="form-control" type="number" [(ngModel)]="amountToConvert" (input)="changedAmount()">
        </div>
      </div>

      <label class="col-sm-9col-md-8 col-lg-10 control-label separator">Przelicz na walutę</label>
      <div class="form-group col-sm-10" Style="padding-left:30px">
        <select class="form-control" [(ngModel)] = "currencySymbolTo" (change)="getCurrencyTo()">
          <option value="" disabled selected>-- WYBIERZ WALUTĘ --</option>
          <option value="PLN">PLN</option>
          <option value="EUR">EUR</option>
          <option value="USD">USD</option>
          <option value="GBP">GBP</option>
        </select>
        <div class="separator">Kwota po przeliczeniu 
          <input class="form-control" [(ngModel)]="amountCalculated" disabled>
        </div>
      </div>
    <!-- </div> -->

  </div>
</div>