
 <div  *ngIf="error"  class="alert alert-danger">
    <strong>Ups bład serwera!</strong> "Spróbuj ponownie za jakiś czas"
</div>

  <div class="table-responsive">
 <table class="table table-striped">
    <thead>
        <tr >
          <p>{{rateTitle}}
        </tr>
      <tr>
        <th>Waluta</th>
        <th>Kurs</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>PLN</td>
        <div>
        <td *ngIf="exchangeEates != undefined">{{ (exchangeEates.rates.PLN) }}</td>
      </div>
      </tr>
      <tr>
          <td>USD</td>
          <td *ngIf="exchangeEates != undefined">{{ (exchangeEates.rates.USD) }}</td>
      </tr>
      <tr>
          <td>GBP</td>
          <td *ngIf="exchangeEates != undefined">{{ (exchangeEates.rates.GBP) }}</td>
      </tr>
    </tbody>
  </table>
  </div>

